.header_67 {
  width: 100%;
  height: cover;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}

.header_67 img {
  width: 10%;
}

.header_67 img:nth-child(2) {
  width: 25%;
}

.right_67 {
  display: flex;
  gap: 10px;
  padding-right: 20px;
  align-items: center;
}

.box_67 {
  display: flex;
  height: 30px;
  gap: 10px;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease-out, transform 0.2s ease-out;
}

.box:hover_67 {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.menu_67 {
  display: none;
  background-color: #fff;
  padding: 10px 0;
  position: absolute;
  top: 90%;
  left: -230px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 250px;
  border-radius: 5px;
  z-index: 100;
}

.menu_67 li,
.menu_user_67 li {
  list-style: none;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: background 0.3s ease-out, transform 0.2s ease-out;
}

.menu_67 li a,
.menu_user_67 li a {
  text-decoration: none;
  color: black;
}

.box_67:hover .menu_67 {
  display: block;
}

.menu_67 li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu_user_67 {
  display: none;
  background-color: #fff;
  padding: 10px 0;
  position: absolute;
  top: 90%;
  left: -90px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  border-radius: 5px;
  z-index: 100;
}

.box_67:hover .menu_user_67 {
  display: block;
}

.menu_user_67 li {
  transition: background 0.3s ease-out, transform 0.2s ease-out;
}

.menu_user_67 li:hover {
  background: rgba(0, 0, 0, 0.1);
}