.Order_67 {
  padding: 0px 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: rgb(232, 234, 237);
  height: 590px;
  gap: 20px;
  z-index: 100;
}

.Order_67>h2 {
  margin-top: 25px;
}


/* contain chá»©a khung tÃ¬m kiáº¿m vÃ  cÃ¡c nÃºt chá»©c nÄƒng */
.searchbox-btn_67 {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  background-color: rgb(232, 234, 237);
}


/* Pháº§n khung tÃ¬m kiáº¿m */
.search_box_67 {
  position: relative;
}

.search_box_67>input {
  border: 1px solid rgb(194, 199, 206);
  outline: none;
  border-radius: 5px;
  width: 450px;
  padding: 10px 30px;
}


.dropdown_input_67 {
  background-color: #fff;
  padding: 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 100%;
  gap: 20px;
  z-index: 100;
}

.dropdown_input_67 input {
  display: block;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid rgb(194, 199, 206);
  width: 100%;
  outline: none;
}

.dropdown_input_67 input:focus {
  border-bottom: 2px solid rgb(0, 182, 62);
}

.dropdown_input_67 button {
  padding: 10px 0;
  background-color: rgb(0, 182, 62);
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  width: 100%;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.dropdown_input_67 button:hover {
  background-color: rgb(0, 146, 50);
}

/* icon tÃ¬m kiáº¿m */
.search>i {
  position: absolute;
  left: 10px;
  top: 30%;
}


/* icon mÅ©i tÃªn hÆ°á»›ng xuá»‘ng */
.btn-down>i {
  position: absolute;
  right: 5px;
  top: 20%;
  padding: 5px 8px;
  border-radius: 50%;
  transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-down>i:hover {
  background-color: rgb(225, 227, 230);
}


/* pháº§n nÃºt chá»©c nÄƒng */
.btn_67 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn_67>button,
.menudown_67>button,
.btn_delete_67 button,
.btn_add_67 button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border: none;
  background-color: rgb(0, 182, 62);
  color: #fff;
  border-radius: 5px;
  position: relative;
  transition: background 0.2s ease-in-out, transform 0.3s ease-in-out;
}

.btn_delete_67 button {
  background-color: red;
}

.btn_delete_67 button:hover {
  background-color: rgb(101, 2, 2);
}

.btn_67>button>p,
.btn_add_67 button {
  font-weight: 700;
}

.btn_67>button:hover,
.menudown_67>button:hover,
.btn_add_67 button:hover {
  cursor: pointer;
  background-color: rgb(0, 146, 50);
}

.menudown_67 {
  position: relative;
}

/* menu 3 gáº¡ch ngang */
.table_checkbox_67 {
  background-color: #fff;
  height: cover;
  width: 200px;
  position: absolute;
  right: 0%;
  padding: 10px 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 100;
}

.table_checkbox_67>div {
  display: flex;
  padding: 10px 20px;
  gap: 10px;
}



/* container filter */
.column_filter {
  max-height: 540px;
  overflow-y: auto;
}

.filters_67 {
  display: block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.filters_67 h3 {
  margin-bottom: 20px;
}

.filters_67>input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(194, 199, 206);
  padding-bottom: 5px;
}

.filters_67>input:focus {
  border-bottom: 2px solid rgb(123, 184, 62);
}


/* filter tráº¡ng thÃ¡i cÃ³ cáº£ báº£ng chá»n phÆ°Æ¡ng thá»©c nhÆ°ng Ä‘ang áº©n*/
.choose_option_67 input {
  margin-bottom: 20px;
  outline: none;
  border: none;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(194, 199, 206);
  position: relative;
}

.choose_option_67 input:focus {
  border-bottom: 2px solid rgb(7, 170, 7);
}

.option_67 {
  position: absolute;
  background-color: #fff;
  width: 90%;
  height: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), -4px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  top: 30%;
  z-index: 100;
}

.option_67 p {
  padding: 10px 20px;
}

.option_67 p:hover {
  background-color: rgb(240, 241, 243);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
}

.choose_option_67 input:focus .option_67 {
  display: block;
}


/* text trong filter */
.text_67 {
  border-bottom: 2px solid rgb(194, 199, 206);
  width: 100%;
  margin-top: 10px;
  padding-bottom: 5px;
  font-weight: 50;
}


/* pháº§n chá»‰nh Ã´ trÃ²n radio */



.radio-checkmark_67 {
  height: 17px;
  width: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  position: relative;
  transition: border-color 0.3s ease;
}

.radio-checkmark_67::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(123, 184, 62);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
}


.checkbox-p_67 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  height: cover;
}

.checkbox-p_67 input {
  transform: scale(1.2);
  accent-color: rgb(7, 170, 7);
  transition: all 0.2s ease;
}


/* báº£ng option phÆ°Æ¡ng thá»©c thanh toÃ¡n */
.drop_list_67 {
  background-color: #fff;
  height: cover;
  width: 90%;
  top: -120%;
  border-radius: 5px;
  padding: 10px 0;
  position: absolute;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.drop_list_67>p {
  padding: 10px 20px;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.drop_list_67>p:hover {
  background-color: rgb(240, 241, 243);
}

/* Báº£ng chá»©a cÃ¡c sáº£n pháº©m */
.order-table_67 {
  width: 100%;
  background-color: rgb(232, 234, 237);
  top: 20px;
}

.order-table_67 table {
  width: 100%;
  border-collapse: collapse;
}

.name_columns_67 {
  background-color: rgb(230, 241, 254);
  border: 1px solid rgb(204, 226, 253);
  position: sticky;
}

.name_columns_67 th {
  padding: 10px;
}

.body_table_67 {
  max-height: 450px;
  overflow-y: auto;
}

.body_table_67::-webkit-scrollbar,
.column_filter::-webkit-scrollbar {
  width: 3px;
}

.body_table_67::-webkit-scrollbar-track,
.column_filter::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.body_table_67::-webkit-scrollbar-thumb,
.column_filter::-webkit-scrollbar-thumb {
  background: rgb(194, 199, 206);
  border-radius: 10px;
}

.column_1 {
  width: 20px;
}

.column_2,
.column_7 {
  width: 10%;
}

.column_3,
.column_4 {
  width: 15%;
}

.column_5 {
  width: 20%;
}

.column_6,
.column_8 {
  width: 15%;
}

.column_1,
.column_2,
.column_3,
.column_4,
.column_5 {
  text-align: left;
}

.column_6,
.column_7,
.column_8 {
  text-align: right;
}

.total_67 {
  background-color: rgb(255, 243, 230);
  border: 1px solid rgb(225, 227, 230);
}

.total_67 td {
  padding: 10px;
}

.data_67 {
  background-color: #fff;
  border: 1px solid rgb(225, 227, 230);
}

.data_67 td {
  padding: 10px;
}

.table_add_bill_67 {
  background-color: #fff;
  width: 70%;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 5px;
  position: relative;
  top: 15%;
  left: 15%;
  z-index: 1000;
}

.table_add_bill_67 header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 20px 30px;
}

.table_add_bill_67 header p {
  font-weight: bold;
}

.table_add_bill_67 header i {
  background-color: #fff;
  padding: 4px 6px;
  border-radius: 50%;
  transition: background 0.2s ease-in, transform 0.2s ease-out;
}

.body_67 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-bottom: 40px;
  padding: 20px 30px;
}

.box_grid_67 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 20px;
  align-items: center;
}

.box_grid_67 input {
  border: none;
  border-bottom: 1px solid #C2C7CE;
  outline: none;
}

.dropdown_id_67 input,
.dropdown_name_67 input,
.id_items_focus,
.name_items_focus,
.payment_focus,
.id_customer_focus,
.name_customer_focus {
  width: 100%;
}

.title_67 {
  font-weight: bold;
  margin-bottom: 20px;
}

.items_67 {
  background-color: #fff;
  padding: 20px 30px;
}

.items_info_67 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  background-color: #fff;
}

.items_info_67 span {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.items_info_67 span input {
  outline: none;
  border: none;
  border-bottom: 1px solid #C2C7CE;
}

.footer_67 {
  text-align: end;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 5px;
}

.footer_67 button {
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #00D26A;
  border: none;
  color: #fff;
  font-weight: 700;
  transition: background 0.2s ease-in, transform 0.2s ease-out;
}

.footer_67 button:hover,
.btn_insert_67:hover {
  background-color: #009232;
}

.box_grid_67 input:focus,
.items_info_67 span input:focus {
  border-bottom: 1px solid #00D26A;
}

.table_add_bill_67 header i:hover {
  background-color: #C2C7CE;
  padding: 4px 6px;
  border-radius: 50%;
  cursor: pointer;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 0.3s ease-in-out;
  z-index: 1000;
}

.active {
  display: block;
}

.btn_insert_delete {
  margin-top: 20px;
}

.btn_insert_delete button {
  padding: 10px 30px;
}

.btn_delete_67,
.btn_insert_67 {
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

.btn_delete_67 {
  background-color: red;
  border: 1px solid red;
  transition: background 0.3s ease-in, transform 0.2s ease-out;
  margin-left: 20px;
}

.btn_delete_67:hover {
  background-color: rgb(115, 4, 4);
}

.btn_insert_67 {
  background-color: #16bc69;
  border: 1px solid #16bc69;
  transition: background 0.2s ease-in, transform 0.2s ease-out;
}

.dropdown_id_67,
.dropdown_name_67,
.dropdown_id_items,
.dropdown_name_items,
.dropdown_option_payment,
.dropdown_id_customer_67,
.dropdown_name_customer_67 {
  position: relative;
}

.id_nv_67,
.name_nv_67,
.id_items_67,
.name_items_67,
.option_payment,
.id_customer,
.name_customer {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  background-color: #fff;
  top: 95%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2), -4px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 200;
}

.id_nv_67 p,
.name_nv_67 p,
.id_items_67 p,
.name_items_67 p,
.option_payment p,
.id_customer p,
.name_customer p {
  padding: 10px 30px;
  background-color: #fff;
  transition: background 0.2s ease-in, transform 0.2s ease-out;
}

.id_nv_67 p:hover,
.name_nv_67 p:hover,
.id_items_67 p:hover,
.name_items_67 p:hover,
.option_payment p:hover,
.id_customer p:hover,
.name_customer p:hover {
  background-color: #F0F1F3;
}
