*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;
}

input:focus {
  outline: none;
}

.link-no-underline {
  text-decoration: none;
}